* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}

body {
    background-color: transparent;
    background-image: url("../image/background4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    color: aliceblue;
    transition: background-position 0.05s ease;
    height: 100%;

}

nav {
    display: flex;
    width: 100%;
    height: 9vh;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid color rgba (255, 255, 255, 0.2);
    position: fixed;
    background-color: #022631;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: aliceblue;
    z-index: 2;
}

.name {
    position: relative;
    left: 100px;
}

.name h1 {
    font-size: 34px;
    align-content: center;
    color: rgb(244, 127, 41);
    height: 100%;

}

.list {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding: 25px;
    width: 800px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: rgb(244, 127, 41);

}

.list li {
    cursor: pointer;
}

.home {
    color: rgb(212, 206, 196);
}

.list a {
    list-style-type: none;
    text-decoration: none;
}


.account {
    width: 40px;
    height: 40px;
    background-image: url(/image/account.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    align-content: center;
    position: relative;
    bottom: 7.5px;
    right: 40px;
    cursor: pointer;
}

.side {
    margin-top: 50px;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #022631;
    z-index: 1;

}

.service {
    display: flex;
    width: 250px;
    height: 50px;
    position: relative;
    justify-content: center;
    right: 45px;
    cursor: pointer;

}

.service h4 {
    align-content: center;
    color: rgb(212, 206, 196);
}

.icon {
    color: rgb(212, 206, 196);
    align-content: center;
    margin-right: 15px;

}

.maincontent {

    height: auto;
    margin-left: 250px;
    padding: 1rem;
    background-color: transparent;
    height: 100vh;
    width: calc(100% - 250px);
    box-sizing: border-box;
}


.content {
    padding: 1rem;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}

.adminer {
    margin-top: 20px;
    width: 32.5%;
    backdrop-filter: blur(32px);
    background-color: rgba(0, 0, 0, 0.70) !important;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    height: 430px;
    cursor: pointer;
}

.labs {
    border-radius: 10px;
    margin-top: 85px;
    width: 100%;
    height: 100px;
    padding-left: 35px;
    padding-top: 15px;
    backdrop-filter: blur(32px);
    background-color: rgba(0, 0, 0, 0.65) !important;


}

.labs p {
    padding-top: 10px;
    padding-left: 20px;

}


.adminer img {
    width: 60px;
    height: 33px;
    position: relative;
    top: 15px;
    size: 2px;
    z-index: 20;
}

.para {
    position: relative;
    top: 40px;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.adminer li {
    position: relative;
    top: 50px;
    font-size: 13px;
}

.points {
    padding-top: 10px;
    padding: 5px;
    padding-left: 20px;
}

.points li {
    padding-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;

}


.Learn {
    position: absolute;
    top: 375px;
    left: 290px;
    width: 90px;
    height: 30px;
    padding: 5px;
    background-color: #55b16e;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;

}

.manage {
    position: absolute;
    top: 375px;
    font-family: Arial, Helvetica, sans-serif;
    left: 180px;
    width: 90px;
    height: 30px;
    padding: 5px;
    background-color: #1b86b0;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    color: #f1f6fb;

}

.box {
    width: 60px;
    height: 60px;
    position: relative;
    left: 10px;
    top: 15px;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
}

.adminer h5 {
    position: absolute;
    left: 100px;
    top: 35px;
}

.span {
    background-color: #3581c0;
    font-weight: 500;
    position: absolute;
    font-size: 10px;
    align-content: center;
    left: 100px;
    width: 130px;
    padding: 5px;
    top: 65px;
    height: 20px;
    border-radius: 20px;
}

.accountbox {
    width: 130px;
    height: 130px;
    position: absolute;
    left: 1365px;
    top: 63px;
    border-radius: 5px;
    background-color: rgba(3, 3, 3, 0.9) !important;
    border: 1px solid rgb(92, 97, 98);
    z-index: 2;
    display: none;
}

.livechat {
    width: 300px;
    height: 450px;
    background-color: aliceblue;
    position: fixed;
    left: 77%;
    top: 225px;
    border-radius: 5px;
    display: none;
}

.upper {
    width: 100%;
    background-color: #0176fb;
    height: 100px;
}

.upper h4 {
    position: relative;
    left: 113px;
    top: 15px;
}

.chatbox {
    position: fixed;
    width: 75px;
    height: 75px;
    left: 92%;
    top: 85%;
    display: block;
    border-radius: 50px;
    background: linear-gradient(to right, #1d8dfd, #0176fb);
    cursor: pointer;

}

.msg {
    position: relative;
    font-size: 30px;
    left: 22px;
    top: 23px;
}

.accounts {
    width: 33px;
    height: 33px;
    background-image: url(account.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    align-content: center;
    position: relative;
    bottom: 7.5px;
    left: 20px;
    top: 26px;
    cursor: pointer;
}

.accounts h4 {
    position: relative;
    left: 45px;
    top: 2px;
}


.chat {
    position: relative;
    top: 363.5px;
    left: 0px;
    border-top: 1px solid #ccc;
    padding: 10px;
    background-color: #f1f6fb;

}

#chatInput {
    width: 190px;
    height: 35px;
    width: 80%;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.send-button {
    position: relative;
    right: 5px;
    cursor: pointer;
    width: 50px;
    height: 35px;
    background-color: #0176fb;
    color: #f1f6fb;
    border-radius: 2px;
    border: none;


}

/* footer {
  width: 100%;
  background-color: #0a1e2e; 
  color: white;
  text-align: center;
  padding: 1rem;
} */