* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}
body {
    background-color: antiquewhite;
    background-image: url("../image/background4.jpg");
    background-size: cover;
    background-position: center;   
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    color: aliceblue;
    transition: background-position 0.05s ease;



}

.tech {
    font-family: 'Orbitron', 'Exo 2', 'Rajdhani', sans-serif;
    font-weight: bold;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
}


.tech {
    position: absolute;
    left: 100px;
}

nav {
    display: flex;
    width: 95%;
    height: 9vh;
    justify-content: space-between;
    background-color: transparent;
    border: 2px solid color rgba (255,255,255,0.2);
    position: relative;
    left: 35px;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border-radius: 10px;
    top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: aliceblue;

}

.navbar {
    padding: 25px;
}

.list {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    font-weight: 500;
    padding: 25px;
    width: 800px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: rgb(32, 32, 32);
}

.list li:hover {
    color: black;
    cursor: pointer;
    
}
.list  a{
    text-decoration: none;
    list-style: none;

}

.loginbox{
    position: relative;
    right: 32px;
    border: 3px solid black;
    outline: none;
    padding: 4px;
    width: 65px;
    color: rgb(0, 0, 0);
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.wrong{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    background-color: black;
    font-size: 2em; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    overflow: hidden;


}
.wrong .close{
    color: white;
    overflow: hidden;
}
.loginbox:hover{
    color: white;
    background-color: black;
    transition: 0.5s ease;
}
.home{
    color: rgb(32, 32, 32);
}

i{
    color: black;
    cursor: pointer;
}


.body {
    background-color: transparent;
    border: 2px solid color rgba (255,255,255,0.2);
    width: 420px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 20px;
    height: 390px;
    position: relative;
    top: 150px;
    padding: 20px;
    backdrop-filter: blur(20px);
    color: white;
    overflow: hidden;
    transform: scale(0);
    transition: transform .4s ease , height .2s ease;


}
.body.active-pop{
    transform:scale(1) ;
    
}


.body h1 {
    color: rgb(0, 0, 0);
    font-family: 'Orbitron', 'Exo 2', 'Rajdhani', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.input-box {
    padding: 20px;
    height: 65px;
}

.input-box input {
    color: black;
    position: relative;
    left: 30px;
    width: 85%;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid #333131;
    background: transparent;
    padding: 8px;
    font-size: 16px;
    outline: none;
    border-radius: 0;
    transition: border-bottom 0.3s ease;

}
.input-box i{
    position: relative;
    
}
input:focus {
    border-bottom: 2px solid rgb(29, 28, 28); 
}
.remember{
    position: relative;
    left: 47px;
    top: 18px;
    font-size: 14px;
    color: #333131;
    color: rgb(36, 36, 37);

}
.remember input[type=checkbox]{
    border: 2px solid black;
    cursor: pointer;
    accent-color: white;
    border-radius: 10px;
    border: none;


}
input{
    border-radius: 20px;
}
.remember a{
    text-decoration: none;
    font-weight: bold;
    color: #333131;
    position: relative;
    left: 65px;
    /* color: aliceblue; */
    color: rgb(36, 36, 37);
}
.button{
    position: relative;
    top: 35px;
    left:30px ;
    height: 50px;
}
.login{
    width: 85%;
    height: 50px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: black;
    cursor: pointer;
    color: aliceblue;
}
.Register p{
    position: relative;
    top: 55px;
    left: 75px;
    color: rgb(36, 36, 37);

}
.Register p a{
    text-decoration: none;
    color: #333131;
    color: rgb(79, 80, 82);
}
.Register p a:hover{
    text-decoration: underline;
    color: black;
}

#password{
    font-size: 16px;
}
#password.big-text{
    font-size: 18px;
}
#user{
    color: #ff0000;
    position: relative;
    left:38px;
    top: 5px;
}
#pass{
    color: #ff0000;
    position: relative;
    left:38px;
    top: 5px;
}