<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Testing</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin=" anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="name">
            <h1>Zeploy</h1>
        </div>
        </div>
        <ul class="list">
            <a href="home">
                <li class="home">Home</li>
            </a>
            <li>About</li>
            <li>Contact</li>
            <div class="account">
            </div>
        </ul>
        </div>
    </nav>
    <div class="accountbox">

    </div>

    <div class="side">
        <ul class="list">
            <li class="service">
                <i class="fa-solid fa-desktop icon"></i>
                <h4>Services</h4>
            </li>
        </ul>
    </div>
    <div class="maincontent">
        <div class="labs">
            <h3>
                <strong>Services</strong>
                <p>Currently, lot of services is available here. You can make use of it, and more services will be
                    added soon.</p>
            </h3>
        </div>
        <div class="adminer">
            <div class="box">
                <img src="../static/image.png" alt="">
            </div>
            <h5><strong>Adminer</strong></h5>
            <span class="span">adminer.selfmade.solution</span>
            <p class="para">Adminer (formerly phpMyAdmin) is a full-featured database management tool written in PHP.
            </p>
            <div class="points">
                <li>Adminer is a lightweight, open-source web-based database
                    management tool written in PHP.</li>
                <li>It's a single-file application, making it easy to deploy and use as a phpMyAdmin alternative.</li>
                <li>Supports multiple database systems, allowing users to manage different databases from a single
                    interface.</li>
            </div>
            <a href="adminer"><button class="manage">Manage</button></a>
            <a href="https://www.adminer.org/en/" target="_blank"><button class="Learn">Learn more</button></a>
        </div>
        <div class="database">
            <div class="box">
                <img src="../static/MySQL.png" alt="">
            </div>
            <h5><strong>MYSQL SERVER</strong></h5>
            <span class="span">adminer.selfmade.solution</span>
            <p class="para">MySQL is the world's most popular open source database.
            </p>
            <div class="point">
                <li>MySQL is an open-source relational database management system (RDBMS).</li>
                <li>Based on Structured Query Language (SQL).</li>
                <li>Widely used in web applications (e.g., WordPress, PHP apps) and enterprise systems</li>
                <li>Optimized for read-heavy workloads.</li>
            </div>
            <a href="../adminer.php"><button class="manage" style="left: 170px;">Manage</button></a>
            <a href="https://dev.mysql.com/doc/" target="_blank"><button class="Learn" style="left: 280px;">Learn
                    more</button></a>
        </div>
        <div class="mongodb">
            <div class="box">
                <img src="../static/mongodb.png" alt="">
            </div>
            <h5><strong>MONGODB SERVER</strong></h5>
            <span class="span">adminer.selfmade.solution</span>
            <p class="para">MongoDB is a source-available cross-platform document-oriented database program.
            </p>
            <div class="mongopoint">
                <li>MongoDB is a NoSQL, open-source document-oriented database.</li>
                <li>Stores data in JSON-like BSON (Binary JSON) format.</li>
                <li>Designed for high scalability, flexibility, and performance.</li>
                <li>Suitable for real-time big data apps.</li>
            </div>
            <a href="../adminer.php"><button class="manage" style="left: 170px;">Manage</button></a>
            <a href="https://www.mongodb.com/docs/" target="_blank"><button class="Learn" style="left: 280px;">Learn
                    more</button></a>
        </div>
        <div class="mariadb" style="top: 660px;">
            <div class="box" style="left: 10px;">
                <img src="../static/images.png" alt="">
            </div>
            <h5><strong>MARIADB SERVER</strong></h5>
            <span class="span" style="left: 110px;">adminer.selfmade.solution</span>
            <p class="para" style="left: 3px;">MariaDB Server is one of the most popular MySQL fork in the world.
            </p>
            <div class="point" style="margin-top: 33px; padding-left: 15px;">
                <li>MariaDB is an open-source relational database management system (RDBMS).</li>
                <li>It is a fork of MySQL, created by the original MySQL developers.</li>
                <li>Often faster than MySQL due to better optimization.</li>
            </div>
            <a href="../adminer.php"><button class="manage">Manage</button></a>
            <a href="https://mariadb.com/kb/en/documentation/" target="_blank"><button class="Learn">Learn
                    more</button></a>
        </div>
        <div class="mariadb" style="top: 660px; left: 700px;">
            <div class="box" style="left: 10px;">
                <img src="../static/image copy 2.png" alt=""
                    style="height: 45px; position: relative; bottom: 15px; padding-bottom: 7.5px; ">
            </div>
            <h5><strong>PostgreSQL SERVER</strong></h5>
            <span class="span" style="left: 110px;">adminer.selfmade.solution</span>
            <p class="para" style="left: 3px;">
                PostgreSQL is a powerful, open source object-relational database system with over 30 years of active
                development
            </p>
            <div class="point" style="margin-top: 33px; padding-left: 15px;">
                <li>PostgreSQL (often called Postgres) is a powerful, open-source object-relational database system.</li>
                <li>Allows users to define custom functions, data types, operators, and even languages.</li>
                <li>Fully supports Atomicity, Consistency, Isolation, and Durability.</li>
            </div>
            <a href="../adminer.php"><button class="manage">Manage</button></a>
            <a href="https://www.postgresql.org/docs/" target="_blank"><button class="Learn">Learn
                    more</button></a>
        </div>
    
    </div>
    <div class="livechat">
        <div class="upper">
            <h4>Live chat</h4>
            <div class="accounts">
                <h4>Saravanesh</h4>
            </div>
            <div class="chat">
                <input type="text" id="chatInput" placeholder="Type a message">
                <button class="send-button" onclick="sendMessage()">send</button>
            </div>


        </div>

    </div>
    <div class="chatbox">
        <i class="fa-solid fa-message msg"></i>
    </div>
    <script src="/static/home.js"></script>



</body>


</html>