<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <title>Testing</title>
    <link rel="icon" href="logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity=n"sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin=" anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav>
        <div class="name">
            <h1>Zeploy</h1>
        </div>
        </div>
        <ul class="list">
            <a href="home.html">
                <li class="home">Home</li>
            </a>
            <li>About</li>
            <li>Services</li>
            <li>Contact</li>
            <div class="account">
            </div>
        </ul>
        </div>
    </nav>

    <div class="side">
        <ul class="list">
            <li class="service">
                <i class="fa-solid fa-desktop icon"></i>
                <h4>Services</h4>
            </li>
        </ul>
    </div>
    <div class="maincontent">
        <div class="labs">
            <h3>
                <strong>Services</strong>
                <p>Currently, only one service is available here. You can make use of it, and more services will be
                    added soon.</p>
            </h3>
        </div>
        <div class="adminer">
            <div class="box">
                <img src="../static/image.png" alt="">
            </div>
            <h5><strong>Adminer</strong></h5>
            <span class="span">adminer.selfmade.solution</span>
            <p class="para">Adminer (formerly phpMinAdmin) is a full-featured database management tool written in PHP.
            </p>
            <li></li>

        </div>
        <!-- <div class="mongodb">
            <div class="box">
                <img src="../static/mongodb.png" alt="">
            </div>
            <h5><strong>MongoDBServer</strong></h5>
            <span class="span">adminer.selfmade.solution</span>
            <p class="para">MongoDB is a source-available cross-platform document-oriented database program.</p>
            
        </div>
        <div class="mysql">
            <div class="box">
                <img src="../static/MySQL.png" alt="">
            </div>
            <h5><strong>mysqlserver</strong></h5>
            <span class="span">adminer.selfmade.solution</span>
            <p class="para">
                MySQL is the world's most popular open source database.</p>
        </div> -->
    </div>
    <div class="livechat">
        <div class="upper">
            <h4>Live chat</h4>
            <div class="accounts">
                <h4>Saravanesh</h4>
            </div>
            <div class="chat">
                <input type="text" id="chatInput" placeholder="Type a message">
                <button class="send-button" onclick="sendMessage()">send</button>
            </div>


        </div>

    </div>
    <div class="chatbox">
        <i class="fa-solid fa-message msg"></i>
    </div>
    <script src="/static/home.js"></script>



</body>


</html>